<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>harmful_mouse_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,166}</string>
                <key>spriteSourceSize</key>
                <string>{140,166}</string>
                <key>textureRect</key>
                <string>{{0,0},{140,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>harmful_mouse_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,175}</string>
                <key>spriteSourceSize</key>
                <string>{192,175}</string>
                <key>textureRect</key>
                <string>{{140,0},{192,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kind_mouse_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,185}</string>
                <key>spriteSourceSize</key>
                <string>{151,185}</string>
                <key>textureRect</key>
                <string>{{332,0},{151,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kind_mouse_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,166}</string>
                <key>spriteSourceSize</key>
                <string>{140,166}</string>
                <key>textureRect</key>
                <string>{{483,0},{140,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rabbit_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,175}</string>
                <key>spriteSourceSize</key>
                <string>{192,175}</string>
                <key>textureRect</key>
                <string>{{623,0},{192,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>animal.png</string>
            <key>size</key>
            <string>{815,185}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c7cdd839cae2d4d59c430baa802bf603:917e192be514447de0af9a90144036ac:b4ee94f79ccd2f0aa75890e22ad92016$</string>
            <key>textureFileName</key>
            <string>animal.png</string>
        </dict>
    </dict>
</plist>
