<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>a1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{489,358}</string>
                <key>spriteSourceSize</key>
                <string>{489,358}</string>
                <key>textureRect</key>
                <string>{{0,0},{489,358}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>a2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{489,358}</string>
                <key>spriteSourceSize</key>
                <string>{489,358}</string>
                <key>textureRect</key>
                <string>{{489,0},{489,358}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>a3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{489,358}</string>
                <key>spriteSourceSize</key>
                <string>{489,358}</string>
                <key>textureRect</key>
                <string>{{978,0},{489,358}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>letter.png</string>
            <key>size</key>
            <string>{1467,358}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:07891808342d21de3536d066b682d6d4:8d2f0202630335d7f37ab35e876aedf7:919993c80c3130449a7b30c56693ffff$</string>
            <key>textureFileName</key>
            <string>letter.png</string>
        </dict>
    </dict>
</plist>
