<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>a1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{489,358}</string>
                <key>spriteSourceSize</key>
                <string>{489,358}</string>
                <key>textureRect</key>
                <string>{{0,0},{489,358}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>a2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{489,358}</string>
                <key>spriteSourceSize</key>
                <string>{489,358}</string>
                <key>textureRect</key>
                <string>{{489,0},{489,358}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>a3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{489,358}</string>
                <key>spriteSourceSize</key>
                <string>{489,358}</string>
                <key>textureRect</key>
                <string>{{978,0},{489,358}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>a4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{489,358}</string>
                <key>spriteSourceSize</key>
                <string>{489,358}</string>
                <key>textureRect</key>
                <string>{{1467,0},{489,358}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>a5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{489,358}</string>
                <key>spriteSourceSize</key>
                <string>{489,358}</string>
                <key>textureRect</key>
                <string>{{0,358},{489,358}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>a6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{489,358}</string>
                <key>spriteSourceSize</key>
                <string>{489,358}</string>
                <key>textureRect</key>
                <string>{{489,358},{489,358}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>a7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{489,358}</string>
                <key>spriteSourceSize</key>
                <string>{489,358}</string>
                <key>textureRect</key>
                <string>{{978,358},{489,358}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>a8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{489,358}</string>
                <key>spriteSourceSize</key>
                <string>{489,358}</string>
                <key>textureRect</key>
                <string>{{1467,358},{489,358}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>e1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{489,358}</string>
                <key>spriteSourceSize</key>
                <string>{489,358}</string>
                <key>textureRect</key>
                <string>{{0,716},{489,358}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>e2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{489,358}</string>
                <key>spriteSourceSize</key>
                <string>{489,358}</string>
                <key>textureRect</key>
                <string>{{489,716},{489,358}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>e3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{489,358}</string>
                <key>spriteSourceSize</key>
                <string>{489,358}</string>
                <key>textureRect</key>
                <string>{{978,716},{489,358}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>e4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{489,358}</string>
                <key>spriteSourceSize</key>
                <string>{489,358}</string>
                <key>textureRect</key>
                <string>{{1467,716},{489,358}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>e5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{489,358}</string>
                <key>spriteSourceSize</key>
                <string>{489,358}</string>
                <key>textureRect</key>
                <string>{{0,1074},{489,358}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>e6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{489,358}</string>
                <key>spriteSourceSize</key>
                <string>{489,358}</string>
                <key>textureRect</key>
                <string>{{489,1074},{489,358}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>e7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{489,358}</string>
                <key>spriteSourceSize</key>
                <string>{489,358}</string>
                <key>textureRect</key>
                <string>{{978,1074},{489,358}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>e8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{489,358}</string>
                <key>spriteSourceSize</key>
                <string>{489,358}</string>
                <key>textureRect</key>
                <string>{{1467,1074},{489,358}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>letter1.png</string>
            <key>size</key>
            <string>{1956,1432}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:73d946a4e430ee417b5442c73f38ec61:fd9a63ed4fecb2362008ca70ca5a8489:330647fd16bb458bc12ac0727b05554a$</string>
            <key>textureFileName</key>
            <string>letter1.png</string>
        </dict>
    </dict>
</plist>
