<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tableA1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{832,521}</string>
                <key>spriteSourceSize</key>
                <string>{832,521}</string>
                <key>textureRect</key>
                <string>{{0,0},{832,521}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tableA2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{832,521}</string>
                <key>spriteSourceSize</key>
                <string>{832,521}</string>
                <key>textureRect</key>
                <string>{{0,521},{832,521}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tableA3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{832,521}</string>
                <key>spriteSourceSize</key>
                <string>{832,521}</string>
                <key>textureRect</key>
                <string>{{0,1042},{832,521}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>table.png</string>
            <key>size</key>
            <string>{832,1563}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:77f11580ca885539b4857930e542602b:6dff18084a76d71db6cb2c01ccf25dd4:9f125aa71c5c2418d32e9eacc87866c8$</string>
            <key>textureFileName</key>
            <string>table.png</string>
        </dict>
    </dict>
</plist>
